.page {
    padding: 0;
}

.page1 {
    color: white;
    background-color: #333345;
}

.profile {
    padding-top: 1vw;
    padding-bottom: 0;
}

.minitab {
    padding-top: 1vw;
    padding-bottom: 0;
}