.profile {
    padding-left: 3vw;
    padding-bottom: 0;
}

.profile h1 {
    font-size: 6vw;
    line-height: 1;
}

.imgbox {
    margin-top: -10vw;
    padding-bottom: 0;
    padding-left: 7vw;
}

.profileimg {
    width: 100%;
}
